[user]
	name = Erick G. Islas-Osuna
	email = erickisos653@gmail.com
	signingkey = 95CD2097762D4C86
[core]
	editor = nvim
[commit]
	gpgsign = true
[gpg]
	program = gpg
[color]
	branch = auto
	status = auto
[alias]
	tree = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%an, %cr)%Creset' --abbrev-commit --date=relative
[url "git@github.com:"]
	insteadOf = https://github.com/
[github]
	user = erickisos
[pull]
	rebase = false
[push]
	default = simple
